body {
    font-family: sans-serif;
    background-color: black;
}

header {
    margin-bottom: 20px;
}

.button {
    float:right;
    background-color: #7B278F;
    color: black;
    text-decoration: none;
    padding: 15px;
    font-size: 24px;
    border-radius: 10px;
}

nav {
    border-top: 5px solid white;
    border-bottom: 5px solid white;
    padding: 25px 100px 25px 95px;
    justify-content: space-between;
    display:flex;
}

.nav-link {
    font-size: 24px;
    color:white;
    text-decoration: none;
}

h1 {
    text-align: center;
    color: black;
    font-size: 36px;
    margin-top: ;
    margin-bottom: ;
}

p {
    font-size: 24px;
}

.info {
    display:flex;
    flex-wrap: wrap;
    width: 1100px;
    margin-top:30px;
}

article {
    justify-content: center;
    background-color: white;
    padding:0 px;
    width: 400px;
    height: 500px;
    margin-left:50px ;
}

.article-but {
    justify-content:  center;
    text-decoration: none;
    background-color: rgb(179, 14, 55);
    color: white;
    font-size: 24px;
    text-align: center;
    margin-left:50px ;
    margin-top: 0px;
    padding: 10px 75px 10px 75px;
}

footer {
    display: flex;
    justify-content: flex-start;
    background-color: rgb(17, 33, 180);
    padding-top:40px ;
    border: 10 px solid rgb(17, 33, 180)
}

footer a {
    margin-right:50px ;
}

footer p {
    font-size: 24px;
}

.margin {
    margin-top:30px ;
}

.text {
    margin-left:70px;
}

.article-nope {
    justify-content:  center;
    text-decoration: none;
    background-color: rgb(180, 41, 17);
    color: white;
    font-size: 24px;
    text-align: center;
    margin-left:50px ;
    margin-top: 0px;
    padding: 10px 75px 10px 75px;
}

.article-rar {
    justify-content:  center;
    text-decoration: none;
    background-color: rgb(119, 112, 20);
    color: white;
    font-size: 24px;
    text-align: center;
    margin-left:50px ;
    margin-top: 0px;
    padding: 10px 75px 10px 75px;
}

.article-sus {
    justify-content:  center;
    text-decoration: none;
    background-color: rgb(8, 83, 112);
    color: white;
    font-size: 24px;
    text-align: center;
    margin-left:50px ;
    margin-top: 0px;
    padding: 10px 75px 10px 75px;
}
